# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

*Objectives*

- List Popular Data Science Languages
- List Popular Data Science Libraries
- Table of Open Source Tools
- Arithmetic Expressions

## Author 

Andrew Doublard

Some of the popular languages that Data Scientists use are:

1. Python
2. C++
3. Java
4. SQL
5. R

Some of the commonly used libraries used by Data Scientists include:

1. Jupyter Notebook
2. Pandas
3. Numpy
4. Seaborn
5. MatPlotLib
6. GGPlotly
7. DPIR
8. Plotly

|Open Source Tools|
|-----------------|
|RStudio |
|VS Code |
|Jupter Notebook |

### Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [5]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335